.model__container {
  padding: 60px;
  font-family: "Montserrat", sans-serif;
  min-width: 50%;
  flex-direction: column;
}
.details__section {
  display: flex;
}
.model__details {
  display: flex;
  justify-content: space-between;
  span:first-child {
    font-size: 24px;
    font-weight: bold;
  }
  span:not(:first-child) {
    font-size: 21px;
    font-weight: 500;
  }
}
.model__section__title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 30px;
}

.accordion__container {
  display: flex;
  margin: 10px 0px;
  justify-content: center;
  max-width: 100%;
  padding: 10px 20px;
  background-color: #eaeaea;
  border-radius: 10px;
  justify-content: space-between;
}
.accordion__details {
  img {
    margin-right: 30px;
  }
  display: flex;
}

.accordion__arrow {
  margin-right: 30px;
  transition: all ease 0.3s;
  cursor: pointer;
  &:hover {
    transform: scale(1.25);
    transition: all ease 0.3s;
  }
  img {
    transition: all ease 0.3s;
  }
}

.accordion__section {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 240px;
}

.Accordion__title {
  font-size: 30px;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
}
.turn90 {
  transform: rotate(90deg);
  transition: all ease 0.3s;
}
.accordion__arrow {
  height: 45px;
  display: flex;
  align-items: center;
}
.accordion__image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.seller__btns {
  display: flex;
  gap: 10px;
  button {
    margin: 10px 0px;
  }
}
.seller__section {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 60px;
  padding-right: 30px;
  font-family: "Montserrat", sans-serif;
  h1 {
    font-weight: bold;
  }
}
.seller__component {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.seller__component:not(:nth-child(2)) {
  padding-top: 50px;
}
.seller__img__container {
  display: flex;
  gap: 20px;
  align-items: center;
}
.seller__img__container__sm {
  display: flex;
  gap: 20px;
  align-items: center;
  width: 50%;
}
.seller__img {
  background-color: #c4c4c4;
  border-radius: 50%;
  width: 80px;
  height: 80px;
}

.unfollow {
  background-color: #c6ac96;
  border-radius: 10px;
  padding: 5px 23px;
  border: none;
  transition: all ease 0.3s;
  color: #ffffff;
  font-size: 16px;
  &:hover {
    background-color: #c89161;
    transition: all ease 0.3s;
  }
}
.contact__btn {
  background-color: black;
  color: #ffffff;
  border-radius: 10px;
  padding: 5px 28px;
  border: none;
  font-size: 16px;
  &:hover {
    background-color: #2e2e2e;
    transition: all ease 0.3s;
  }
}
.reviews {
  padding-top: 58px;
}
.seller__img__sm {
  background-color: #fff;
  border-radius: 50%;
  min-width: 54px;
  border: solid black 1px;

  min-height: 54px;
}
.seller__details__sm {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.seller__link {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  padding-top: 20px;
}

.seller__username {
  margin-right: 10px;
}
.comment__container {
  background-color: #eaeaea;
  padding: 30px;
  min-height: 220px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 45px;
  textarea {
    width: 100%;
    padding: 50px 20px;
    border: none;
    font-size: 26px;
    color: #959595;
  }
}
.comment__btn {
  display: flex;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  justify-content: flex-end;
  padding: 20px 0;
  border: none;
  button {
    background-color: #fff;
    font-weight: 500;
    font-size: 26px;
    border: none;
    border-radius: 10px;
    padding: 0px 10px;
  }
}

@media screen and (max-width: 768px) {
  .model__details {
    span:first-child {
      font-size: 18px;
      font-weight: bold;
    }
    span:not(:first-child) {
      font-size: 14px;
      font-weight: 500;
    }
  }
  .accordion__container {
    margin: 20px 20px;
  }
  .model__container {
    padding: 30px;
  }
  .Accordion__title {
    font-size: 24px;
  }
  .seller__component {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
  }
}
.seller__img__container__sm {
  display: flex;
  padding: 30px 10px;
}

@media screen and (max-width: 1250px) {
  .seller__btns {
    display: flex;
    margin-top: 120px;
    position: absolute;
    top: -50px;
    left: 100px;
  }
  .seller__component {
    justify-content: flex-start;
    position: relative;
  }
}

@media screen and (max-width: 995px) {
  .model__container {
    width: 100%;
  }
  .model__container {
    max-width: 100%;
  }
  .accordion__section {
    width: 100%;
  }
  .details__section {
    flex-direction: column;
  }
  .seller__section {
    width: 100%;
  }
  .accordion__section {
    margin-top: 50px;
  }
}


@media screen and (max-width: 500px) {

  .accordion__container{
    span{
      font-size: 14px;
    }
    .accordion__arrow{
      margin-right: 10px;

    }
    .accordion__image img{
      margin-right: 10px;
    }
  }
  .seller__btns {
    top: -50px;
    left: 0px;
  }
  .seller__component {
    padding-bottom: 50px;
  }
  .seller__username {
    font-size: 14px;
  }
  .trusted__Seller img {
    width: 170px;
  }
  .comment__container {
    padding: 5px 20px;
    font-size: 10px;
  }
  .seller__details__sm {
    display: flex;
    flex-direction: column;
  }

  .seller__img {
    width: 50px;
    height: 50px;
  }
  .seller__section {
    padding: 30px;
  }
  .seller__link {
    justify-content: flex-start;
  }
  .accordion__image {
    img {
      width: 20px;
    }
  }
  .Accordion__title {
    font-size: 18px;
  }
  .accordion__arrow {
    img {
      width: 10px;
    }
  }
}


@media screen and (max-width: 500px) {
.trusted__Seller img {
  width: 120px;
}
.seller__username{
  font-size: 10px;
}
.contact__btn,.unfollow {
  font-size: 12px;
  padding: 10px 10px;
}
}